<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<audioConfig current="config 1">
		<setup name="config 1">
			<audio soundcard="default" leftChannel="1" rightChannel="2" source="master" />
		</setup>
	</audioConfig>
	<options>
		<language>Spanish</language>
		<playMode>play-pause</playMode>
		<cueMode>cue</cueMode>
		<hotcueMode>play</hotcueMode>
		<cueDisplay>name</cueDisplay>
		<savedLoopDisplay>name</savedLoopDisplay>
		<smartPlay>no</smartPlay>
		<smartPlayLimitPitchRange>yes</smartPlayLimitPitchRange>
		<smartLoop>yes</smartLoop>
		<smartCue>no</smartCue>
		<quantizeLoop>no</quantizeLoop>
		<quantizeSetCue>no</quantizeSetCue>
		<globalQuantize>1 beat</globalQuantize>
		<smartScratch>no</smartScratch>
		<cueLoopAutoSync>yes</cueLoopAutoSync>
		<masterTempo>yes</masterTempo>
		<updateHotCueOnCueCombo>yes</updateHotCueOnCueCombo>
		<autoSortCues>no</autoSortCues>
		<autoPitchRange>yes</autoPitchRange>
		<faderStart>no</faderStart>
		<faderStartStop>no</faderStartStop>
		<autoHeadphones>always</autoHeadphones>
		<pflOnSelect>yes</pflOnSelect>
		<shopDemoMode>no</shopDemoMode>
		<RPM>33 RPM</RPM>
		<autoDiscMarker>no</autoDiscMarker>
		<rhythmZoom>0.300000</rhythmZoom>
		<scratchZoomVertical>0.250000</scratchZoomVertical>
		<rhythmZoomSaved>0.250000</rhythmZoomSaved>
		<scratchZoomSaved>0.250000</scratchZoomSaved>
		<loopBackMode>no</loopBackMode>
		<loopAutoMove>yes</loopAutoMove>
		<loopDefault>8.000000, 1.000000</loopDefault>
		<loopRollDefault>0.250000</loopRollDefault>
		<displayTime>left</displayTime>
		<hideSongInfo>no</hideSongInfo>
		<sandboxSplitHeadphones>yes</sandboxSplitHeadphones>
		<sandboxPreviewOnly>no</sandboxPreviewOnly>
		<sandboxWizard>yes</sandboxWizard>
		<tooltip>yes</tooltip>
		<tooltipDelay>500</tooltipDelay>
		<showCoverForDragDrop>yes</showCoverForDragDrop>
		<VDJScriptGlobalVariables>$starterbubble=0=1.00000, $colorscheme=0=0.00000, $jogtype=1818584692=0.00000, $jogcoverart=1818584692=0.00000, $4decks=0=0.00000, $waveformpos=0=0.00000, $4mixer=0=0.00000, $phrasecircle=0=0.00000, $4waveforms=0=0.00000, $spinner=1=0.00000, $cfassign=0=0.00000, $decklayout=0=0.00000</VDJScriptGlobalVariables>
		<loadSecurity>on</loadSecurity>
		<showAdvancedConfig>no</showAdvancedConfig>
		<crashGuard>yes</crashGuard>
		<crashReportLevel>0</crashReportLevel>
		<poiEditorShowAll>no</poiEditorShowAll>
		<poiEditorSnap>no</poiEditorSnap>
		<customButtonWizard>yes</customButtonWizard>
		<backLoopWizard>yes</backLoopWizard>
		<database>1588970822</database>
		<lastUsedBuild>5754</lastUsedBuild>
		<lastUse>0</lastUse>
		<timestamp>0</timestamp>
		<nonColoredPoi>Default</nonColoredPoi>
		<padsPages>scratch, scratch</padsPages>
		<padsPagesHidden />
		<sixteenPadsMode>Auto</sixteenPadsMode>
		<padsPagesFavorite />
		<loopPadPage>0</loopPadPage>
		<colorPicker>auto</colorPicker>
		<colorPickersystemCustom />
		<lightShowProgram>Auto</lightShowProgram>
		<settingPage>Licenses</settingPage>
		<showTutorials>no</showTutorials>
		<autoSyncSettingsOverride>pro=----</autoSyncSettingsOverride>
		<endOfSongWarning>30</endOfSongWarning>
		<dontShowAgain />
	</options>
	<browser>
		<fileFormats>mp3,wav,cda,wma,asf,ogg,ogm,ogv,m4a,aac,aif,aiff,flac,mpc,ape,avi,mpg,mpeg,wmv,vob,mov,divx,mp4,m4v,mkv,flv,webm,opus,vdj,vdjcache,vdjcachev,vdjedit,vdjsample</fileFormats>
		<rootFoldersLocation>LocalMusic=root, OnlineMusic=root, Lists=root, Filters=root, MyMusic=LocalMusic, MyVideos=LocalMusic, MyComputer=LocalMusic, Desktop=LocalMusic, Crates=LocalMusic, iTunes=LocalMusic, Traktor=hidden, IDJPool=OnlineMusic, VJPro=OnlineMusic, Digitrax=OnlineMusic, Deezer=OnlineMusic, Xiami=OnlineMusic, SoundCloud=OnlineMusic, Beatport=OnlineMusic, Playlists=Lists, History=Lists, Cloud=Lists, GeniusDJ=Lists, AskTheDJ=Lists, Sampler=Lists, SpotifyPlaylists=Lists, Beatsource=OnlineMusic</rootFoldersLocation>
		<iTunesDatabaseFile>C:\Users\julian\Music\iTunes\iTunes Library.xml</iTunesDatabaseFile>
		<seratoFolder>C:\Users\julian\Music\_Serato_</seratoFolder>
		<traktorFolder />
		<importV7Databases>yes</importV7Databases>
		<ignoreDrives>0</ignoreDrives>
		<readOnly>no</readOnly>
		<getTagsAuto>yes</getTagsAuto>
		<setTagsAuto>no</setTagsAuto>
		<coverDownload>exact</coverDownload>
		<getTitleFromTags>yes</getTitleFromTags>
		<getRatingFromTags>no</getRatingFromTags>
		<getCommentFromTags>yes</getCommentFromTags>
		<getCuesFromTags>for new files</getCuesFromTags>
		<getTagFromZip>yes</getTagFromZip>
		<getRemixWhenParsingFilenames>yes</getRemixWhenParsingFilenames>
		<useKeyFromTag>no</useKeyFromTag>
		<keyDisplay>Harmonic</keyDisplay>
		<cleanTagsInDeckDisplay>yes</cleanTagsInDeckDisplay>
		<searchInFolder>yes</searchInFolder>
		<searchInDB>yes</searchInDB>
		<searchInContentUnlimited>yes</searchInContentUnlimited>
		<searchInOnlineCatalogs>yes</searchInOnlineCatalogs>
		<ContentUnlimitedWhenEmpty>yes</ContentUnlimitedWhenEmpty>
		<OnlineCatalogsWhenEmpty>yes</OnlineCatalogsWhenEmpty>
		<ContentUnlimitedCatalogs />
		<OnlineCatalogs />
		<showMusic>no</showMusic>
		<showVideo>no</showVideo>
		<showKaraoke>no</showKaraoke>
		<searchFields>7</searchFields>
		<browserColumns>file=titl(25),arti(25),mix(20),leng(10),bpm(10),key(10)|side=titl(40),arti(40),mix(20)|side(auto)=titl(30),arti(30),mix(20),leng(10),plat(10)|side(sbnk)=spla(10),titl(60),svol(30)</browserColumns>
		<browserSort>file=Bpm</browserSort>
		<browserGridColumns />
		<infoviewColumns>alba,titl,arti,mix,year,albu,genr,remi,comp,bpm,key,leng,1see,Xply,play,comm,usr1,usr2</infoviewColumns>
		<showHorizontalSideList>no</showHorizontalSideList>
		<lockFolderOrder>no</lockFolderOrder>
		<keepSortOrder>yes</keepSortOrder>
		<onScreenKeyboard>Auto</onScreenKeyboard>
		<multiTouchTwoFingerScroll>no</multiTouchTwoFingerScroll>
		<browserSearchByFirstLetter>no</browserSearchByFirstLetter>
		<lastSelectedFolder>C:\Users\julian\Music</lastSelectedFolder>
		<coverFlow>Set by skin (smart)</coverFlow>
		<lastTrackListDate>2020/05/17</lastTrackListDate>
		<startOfDayHour>8</startOfDayHour>
		<historyDelay>45</historyDelay>
		<writeHistory>yes</writeHistory>
		<prelistenVisible>yes</prelistenVisible>
		<prelistenStopOnChange>no</prelistenStopOnChange>
		<prelistenStartPos>-1.000000</prelistenStartPos>
		<autoSearchDB>yes</autoSearchDB>
		<showZipKaraoke>yes</showZipKaraoke>
		<showM3UAsFolders>yes</showM3UAsFolders>
		<fontSize>1.000000</fontSize>
		<browserPadding>Set by skin (None)</browserPadding>
		<browserBPMDigits>1</browserBPMDigits>
		<savePlaylist>yes</savePlaylist>
		<saveUnplayedToSidelist>no</saveUnplayedToSidelist>
		<removePlayedFromSidelist>no</removePlayedFromSidelist>
		<browserTextFit>smart</browserTextFit>
		<tracklistFormat>%author - %title</tracklistFormat>
		<shellIcons>no</shellIcons>
		<sideviewShortcuts />
		<sideViewShortcutsHidden />
		<sideView>automix</sideView>
		<gridView>no</gridView>
		<triggerPadView>yes</triggerPadView>
		<sideViewReco>remixes</sideViewReco>
		<RemixesViewProvider>iDJPool</RemixesViewProvider>
		<logUnsuccessfulSearches>no</logUnsuccessfulSearches>
		<shazam />
		<askTheDJMonitoring>folder</askTheDJMonitoring>
		<askTheDJFrequency>5</askTheDJFrequency>
		<askTheDJTwitterHashtag />
		<showTipOfTheDay>yes</showTipOfTheDay>
		<tipOfTheDayAlreadySeen>17, 16, 15</tipOfTheDayAlreadySeen>
		<limitedEdition>no</limitedEdition>
		<filterFolderSplitGenreBySlash>yes</filterFolderSplitGenreBySlash>
		<browserAutoZoom>no</browserAutoZoom>
		<browserFontSizeButtons>no</browserFontSizeButtons>
		<browserDaysSongsAreNew>7</browserDaysSongsAreNew>
		<eventSchedule />
	</browser>
	<audio>
		<audioAutoDetect>yes</audioAutoDetect>
		<exclusiveAudioAccess>no</exclusiveAudioAccess>
		<autoCue>skip silence</autoCue>
		<autoBPMMatch>no</autoBPMMatch>
		<autoGain>auto</autoGain>
		<autoKey>no</autoKey>
		<keyDetection>broad range</keyDetection>
		<gainSliderIncludesAutoGain>yes</gainSliderIncludesAutoGain>
		<resetPitchOnLoad>no</resetPitchOnLoad>
		<resetEqOnLoad>no</resetEqOnLoad>
		<resetFXOnLoad>no</resetFXOnLoad>
		<resetKeyOnLoad>yes</resetKeyOnLoad>
		<pitchRange>50.000000</pitchRange>
		<autoPitchLock>no</autoPitchLock>
		<pitchResetSpeed>1.000000</pitchResetSpeed>
		<crossfaderCurve>Full</crossfaderCurve>
		<crossfaderDisable>no</crossfaderDisable>
		<crossfaderCustom />
		<crossfaderHamster>no</crossfaderHamster>
		<faderCurve>0.500000</faderCurve>
		<zeroDB>Default</zeroDB>
		<vinylMode>no, no</vinylMode>
		<rampStartTime>0.000000</rampStartTime>
		<rampStopTime>0.000000</rampStopTime>
		<rampScratchTime>0.100000</rampScratchTime>
		<boothMicrophone>no</boothMicrophone>
		<equalizerInHeadphones>yes</equalizerInHeadphones>
		<prelistenOutput>0</prelistenOutput>
		<metronomeVolume>2.000000</metronomeVolume>
		<equalizerMode>Default</equalizerMode>
		<equalizerLowFrequency>200</equalizerLowFrequency>
		<equalizerMidFrequency>1700</equalizerMidFrequency>
		<equalizerHighFrequency>6500</equalizerHighFrequency>
		<filterDefaultResonance>Default</filterDefaultResonance>
		<headphonesGain>0.500000</headphonesGain>
		<splitHeadphones>no</splitHeadphones>
		<effects>Flanger,Reverb,Wahwah|Flanger,Reverb,Wahwah||</effects>
		<internalPluginLocations />
		<masterEffects />
		<fxProcessing>Pre-fader</fxProcessing>
		<mixFx>Echo</mixFx>
		<pluginBanks>Echo,Flanger,Reverb|Cut,Distortion,Wahwah</pluginBanks>
	</audio>
	<video>
		<startVideoOnLoad>yes</startVideoOnLoad>
		<letterBoxing>bars</letterBoxing>
		<videoFPS>30</videoFPS>
		<videoMicroFrames>Smart</videoMicroFrames>
		<videoResampleQuality>Medium</videoResampleQuality>
		<videoCrossfader>Smart</videoCrossfader>
		<videoVolumeLink>no</videoVolumeLink>
		<videoUseDXVA>yes</videoUseDXVA>
		<videoDriver>Intel(R) HD Graphics 5500</videoDriver>
		<videoMaxMemory>Automatic (187)</videoMaxMemory>
		<videoForceFullscreen>0</videoForceFullscreen>
		<videoDelay>0.000000</videoDelay>
		<videoWindowAlwaysOnTop>yes</videoWindowAlwaysOnTop>
		<videoWindowPosition>(0x0 1366x728)=0x0 1366x768</videoWindowPosition>
		<videoCreateLinkOnDrop>yes</videoCreateLinkOnDrop>
		<videoAudioOnlyVisualisation>None</videoAudioOnlyVisualisation>
		<videoTransition>Satellite</videoTransition>
		<videoRandomTransition>no</videoRandomTransition>
		<videoFx>Boom</videoFx>
		<videoLogo>yes</videoLogo>
		<videoLogoImage />
		<videoLogoSize>Medium</videoLogoSize>
		<videoLogoPosition>Right-Top</videoLogoPosition>
		<videoSkin>for Live:live</videoSkin>
		<videoShaderQuality>Auto</videoShaderQuality>
		<showVideoskinWarning>-1</showVideoskinWarning>
		<useVideoSkin>yes</useVideoSkin>
		<showVideoSkinOnPreview>yes</showVideoSkinOnPreview>
	</video>
	<karaoke>
		<karaokeBackgroundMusic>automix</karaokeBackgroundMusic>
		<karaokeBackgroundImage />
		<karaokeBackground>Default</karaokeBackground>
		<karaokeVideoSkin>for Karaoke:karaoke</karaokeVideoSkin>
		<karaokeBackgroundVolume>0.750000</karaokeBackgroundVolume>
		<karaokeSkipSilence>yes</karaokeSkipSilence>
		<karaokeAutoRemovePlayed>yes</karaokeAutoRemovePlayed>
		<karaokeDualDeck>no</karaokeDualDeck>
	</karaoke>
	<skins>
		<coloredWaveforms>neutral</coloredWaveforms>
		<showGridLines>no</showGridLines>
		<waveformCenter>Centered</waveformCenter>
		<beatCounterRange>16</beatCounterRange>
		<skin>Default:Pro</skin>
		<maximized>1</maximized>
		<customButtons>, , =</customButtons>
		<skinPosition />
		<skinWindows />
		<skinPanels>!scratchmixer, audiomixer, !videomixer, !mastermixer</skinPanels>
		<skinTextzones />
		<skinSplitState>cover=0.150000, sideview=(0.650000), folders=0.180000, info=(0.860000), effects=(1.000000), ads=0.886277, crossfader=0.500000, crossfader2=0.500000, sideview2=0.650000, folders2=0.180000, ads2=(0.886277), sideview3=0.650000, folders3=0.180000, ads3=(0.907749), sideview4=0.650000, folders4=0.180000, ads4=(0.933579), sideview5=0.650000, folders5=0.180000, ads5=(0.898155), info2=0.860000, effects2=(1.000000)</skinSplitState>
		<skinRacks />
		<skinFPS>30</skinFPS>
		<touchScreenMode>no</touchScreenMode>
		<skinEmptyButtons>no</skinEmptyButtons>
		<skin3FxLayout>no</skin3FxLayout>
		<skinPlayheadShadow>yes</skinPlayheadShadow>
		<skinWaveformType>Set by skin (scratch)</skinWaveformType>
		<dialogsColorTheme>automatic</dialogsColorTheme>
		<cleartype>yes</cleartype>
		<skinLoaded>Default=Pro, Serato Dj Pro 2.0=extended 2.0, Old=2 Decks</skinLoaded>
		<vuMeter>Peak</vuMeter>
	</skins>
	<controllers>
		<disableBuiltInDefinitions>no</disableBuiltInDefinitions>
		<controllersCustomization />
		<touchWheelBackspin>yes</touchWheelBackspin>
		<touchWheelForwardspin>no</touchWheelForwardspin>
		<touchWheelSpinThreshold>0.800000</touchWheelSpinThreshold>
		<jogSensitivityScratch>1.000000</jogSensitivityScratch>
		<jogSensitivityCue>0.500000</jogSensitivityCue>
		<jogSensitivityBend>0.050000</jogSensitivityBend>
		<jogVibrationProtection>0</jogVibrationProtection>
		<controllerTakeoverMode>Pickup</controllerTakeoverMode>
		<controllerTakeoverModePitch>Pickup</controllerTakeoverModePitch>
		<motorWheelInstantPlay>yes</motorWheelInstantPlay>
		<motorWheelInstantStop>yes</motorWheelInstantStop>
		<motorWheelSmoothPercent>75.000000</motorWheelSmoothPercent>
		<motorWheelLockTime>1.000000</motorWheelLockTime>
		<controllersNotification />
		<mixerOrder>3124</mixerOrder>
		<djcButtons />
		<controllerState />
		<controllerMenu />
		<controllerRefreshRate>0</controllerRefreshRate>
		<createMidiLog>no</createMidiLog>
		<midiLogLevel>Default</midiLogLevel>
		<iRemote>no</iRemote>
		<iRemoteList />
		<iRemoteDefaultPort>4243</iRemoteDefaultPort>
		<vdjRemoteDevices />
		<os2l>auto</os2l>
		<os2lDirectIp />
		<controllerWaveFormZoom>3</controllerWaveFormZoom>
	</controllers>
	<sampler>
		<samplerBank>AUDIO FX</samplerBank>
		<samplerTriggerMode>on/off</samplerTriggerMode>
		<samplerDefaultLoopMode>locked</samplerDefaultLoopMode>
		<samplerForceNbColumns>0</samplerForceNbColumns>
		<samplerExportLossless>no</samplerExportLossless>
		<samplerDontSaveSource>no</samplerDontSaveSource>
		<samplerOutputToTriggerDeck>no</samplerOutputToTriggerDeck>
		<samplerRootFolder />
		<samplerOutputDeck>0</samplerOutputDeck>
		<samplerApplyEffectsOnDeckOutput>no</samplerApplyEffectsOnDeckOutput>
		<samplerVideoVolumeLink>yes</samplerVideoVolumeLink>
		<autoSideview>yes</autoSideview>
		<samplerImageSize>small</samplerImageSize>
		<samplerHeadphones>yes</samplerHeadphones>
		<samplerShowEffects>Automatic (No)</samplerShowEffects>
	</sampler>
	<record>
		<recordFile />
		<recordFormat>mp3</recordFormat>
		<recordQuality>mid</recordQuality>
		<recordAutoStart>no</recordAutoStart>
		<recordWaitForSound>yes</recordWaitForSound>
		<recordOverwrite>change filename</recordOverwrite>
		<recordAutoSplit>no</recordAutoSplit>
		<recordWriteCueFile>no</recordWriteCueFile>
		<recordVideoResolution>852x480</recordVideoResolution>
		<recordMicrophone>yes</recordMicrophone>
		<recordBitDepth>16-bit</recordBitDepth>
	</record>
	<broadcast>
		<broadcastMode>direct</broadcastMode>
		<broadcastVideoQuality>mid</broadcastVideoQuality>
		<broadcastVideoQualityCustom />
		<broadcastServers>
			<server name="default" protocol="1" format="1" bitrate="128" />
		</broadcastServers>
		<broadcastServer>default</broadcastServer>
		<broadcastDirectFormat>mp3</broadcastDirectFormat>
		<broadcastDirectPort>8000</broadcastDirectPort>
		<broadcastDirectQuality>medium</broadcastDirectQuality>
		<broadcastDirectMaxClients>64</broadcastDirectMaxClients>
		<broadcastDirectName />
		<broadcastSongInfo>yes</broadcastSongInfo>
		<broadcastSongInfoFormat>%artist - %titleremix</broadcastSongInfoFormat>
		<podcastName>My VirtualDJ Mix</podcastName>
		<broadcastVideoProvider>0</broadcastVideoProvider>
		<broadcastVideoURL />
		<broadcastVideoKey />
	</broadcast>
	<internet>
		<internetProxyURL />
		<internetProxyPort />
		<internetProxyUsername />
		<internetProxyPassword />
		<internetLogin>fabian2117@hotmail.com</internetLogin>
		<stayLoggedIn>yes</stayLoggedIn>
		<dontLogin>no</dontLogin>
		<oneTimeMsg>0</oneTimeMsg>
		<checkUpdates>yes</checkUpdates>
		<earlyAccessUpdates>no</earlyAccessUpdates>
		<sendHistory>yes</sendHistory>
		<sendAnonymousStats>yes</sendAnonymousStats>
		<autoRefreshDRM>yes</autoRefreshDRM>
		<liveFeedback>yes</liveFeedback>
		<usageStats />
		<netsearchVideoQuality>hd720</netsearchVideoQuality>
		<xiamiLogin />
		<deezerAccessCode />
		<deezerLoginStatus>0</deezerLoginStatus>
		<soundcloudAccessCode />
		<soundcloudRefreshCode />
	</internet>
	<automix>
		<automixMode>smart</automixMode>
		<fadeLength>4.000000</fadeLength>
		<automixRepeat>no</automixRepeat>
		<automixAutoRemovePlayed>no</automixAutoRemovePlayed>
		<automixDualDeck>no</automixDualDeck>
		<autoMixBeatMatchOnFade>yes</autoMixBeatMatchOnFade>
		<automixSkipLength>4.000000</automixSkipLength>
		<automixMaxLength>0</automixMaxLength>
	</automix>
	<performance>
		<sampleRate>Automatic (48000)</sampleRate>
		<latency>Automatic</latency>
		<ultraLatency>yes</ultraLatency>
		<maxPreloadLength>Automatic (29)</maxPreloadLength>
		<pitchQuality>2</pitchQuality>
		<scratchFilterQuality>8</scratchFilterQuality>
		<cpuMeter>audio</cpuMeter>
		<clockDisplay>Automatic (12h)</clockDisplay>
		<songLoadPriority>normal</songLoadPriority>
		<experimentalBeatAnalyzer>no</experimentalBeatAnalyzer>
		<experimentalSkinEngine>auto</experimentalSkinEngine>
		<experimentalWaveColors>yes</experimentalWaveColors>
		<keepBPMonAnalyzerUpdate>no</keepBPMonAnalyzerUpdate>
		<peakAudioCpu>0.319055</peakAudioCpu>
	</performance>
	<timecode>
		<timecodeMode>smart</timecodeMode>
		<timecodeType>AutoDetect</timecodeType>
		<timecodeLeadInTime>0.000000</timecodeLeadInTime>
		<timecodeAntiSkip>3</timecodeAntiSkip>
		<timecodeNeedleDropSync>yes</timecodeNeedleDropSync>
		<timecodePitchSliderIgnoreBend>yes</timecodePitchSliderIgnoreBend>
		<timecodeSilence>0.200000</timecodeSilence>
		<timecodeCalibrationVolume>1.000000</timecodeCalibrationVolume>
		<timecodeCalibrationPhase>0.000000</timecodeCalibrationPhase>
	</timecode>
</settings>
